* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
}

.field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  width: 400px;
  height: 100%;

  padding: 25px;

  margin: 0 auto;
  margin-top: 35px;

  background-color: blanchedalmond;
}

.inner {
  display: flex;
  
  align-items: center;
  justify-content: center;

  font-size: 4rem;


  border: dotted;
  user-select: none;
}

#restart {
  display: none;
  font-size: 1.35rem;
  color: wheat;
  padding: 10px;
  background-color: rebeccapurple;
}

#titStaBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

h1 {
  font-size: 1.95rem;
}

#cmd {
  padding: 15px;
  font-size: 1.45rem;
  font-weight: 600;
}