* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  width: 400px;
  height: 100%;

  padding: 25px;

  margin: 0 auto;
  margin-top: 35px;

  background-color: ghostwhite;
}

.inner {
  display: flex;
  
  align-items: center;
  justify-content: center;

  font-size: 4rem;


  border: dotted;
  user-select: none;
}